@import './base.css';

body {
  background-color: rgb(46, 77, 46) !important;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

#app {
  background-color: rgb(46, 77, 46) !important;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.kanban-board {
  display: flex;
  background-color: rgb(46, 77, 46) !important;
  justify-content:center;
  gap: 20px;
  padding: 20px;
}

.kanban-column {
  flex: 1;
  min-width: 200px;
}

.v-main {
  
  background-color: #2e3d2b; /* a deeper green */
  min-height: 100vh;
}
